@model IList<Konsolute.Profiles.Core.Models.GroupInfo>

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="col-md-4">
                <div class="text-left">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> <a href="/profile/list">Back to Profiles</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right" id="dmsg">
                    <div id="stxt" class="isa_success">
                        <i class="fa fa-check"></i>
                        Successfully synced group members.
                    </div>
                    <div id="etxt" class="isa_error">
                        <i class="fa fa-times-circle"></i>
                        Error while syncing group members.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Sync</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model)
            {
                    <tr>
                        <td>
                            @group.GroupName
                        </td>
                        <td>
                            <button type="button" id="btnSync" gid="@group.GroupId" class="btnsync btn btn-primary" data-toggle="modal">Sync Users</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#stxt").hide();
            $("#etxt").hide();

            $(".btnsync").each(function () {
                $(this).click(function () {
                    $('#pModal').modal('show');
                    var gid = $(this).attr('gid');
                    $.ajax({
                        type: 'POST',
                        dataType: 'text',
                        data: '',
                        url: '/Profile/SyncProfiles?groupId=' + gid,
                        success: function (data, textStatus) {
                            $('#pModal').modal('hide');
                            $("#stxt").show();
                            $("#etxt").hide();
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            $('#pModal').modal('hide');
                            $("#stxt").hide();
                            $("#etxt").show();
                            console.log(xhr);
                        }
                    });
                });
            });
        });
    </script>
</div>
<div id="pModal" class="modal modal-static fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="text-center">
                    <img src="~/Content/Images/ajax-loader.gif" alt="Processing..." />
                </div>
            </div>
        </div>
    </div>
</div>
