@model IList<Konsolute.Profiles.Core.Models.GroupInfo>

@{
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Sync</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>
                        @group.GroupName
                    </td>
                    <td>
                        <button type="button" id="btnSync" gid="@group.GroupId" class="btn btn-primary" data-toggle="modal" data-target="#pleaseWaitDialog">Sync Group Members</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSync").click(function () {
                var gid = $(this).attr('gid');
                $.post(
                    '/Groups/SyncProfiles?groupId=' + gid,
                    function (data) {
                        alert(data);
                    });
                    
            });
        });
    </script>
</div>
<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>